<?xml version="1.0"?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" throwExceptions="false" internalLogToConsole="false" internalLogToConsoleError="false" internalLogLevel="Trace">
  <targets>
    <target name="logfile" xsi:type="File" fileName="logfile.txt" archiveNumbering="Sequence" archiveEvery="Day" maxArchiveFiles="28" encoding="UTF-8"/>
    <!--<target name="console" xsi:type="Console" layout= "$[${date:format=yyyy-MM-dd HH\:mm\:ss}] [${uppercase:${level}}] |${stacktrace}|${callsite-linenumber}: ${message}"/>-->

    <target name='jsonConsole' type='Console' encoding="UTF-8">
      <layout type='JsonLayout'>
        <attribute name='time' layout='${longdate}' />
        <attribute name='lv' layout='${level:upperCase=true}'/>
        <attribute name='msg' layout='${message}' encode='false'/>
        <attribute name='stacktrace' layout='${stacktrace:separator=">":topFrames=3}'/>
      </layout>
    </target>
    <!--write log message to Visual Studio Output-->
    <target name="debugger" xsi:type="Debugger" layout="NLog: ${date:format=yyyy-MM-dd HH\:mm\:ss} | ${level:uppercase=true:padding=-5} | ${message}" />
    <!--write log message to Visual Studio Output-->
       


  </targets>
  <rules>
    <!--TRACE,DEBUG,INFO,WARN,ERROR,FATAL-->
    <logger name="*" minlevel="Trace" writeTo="debugger" />
    <logger name="*" minlevel="Warn" writeTo="logfile"/>
    <logger name="*" minlevel="Trace" writeTo="jsonConsole"/>
  </rules>

</nlog>